<div class="d-flex justify-content-around">
  <h3 class="m-5">商品一覧</h3>
  <button type="button" class="btn btn-outline-primary">
    <%= link_to "商品新規登録", new_admin_item_path %>
  </button>
</div>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <% @items.each do |item| %>
    <tbody>
      <tr>
        <td><%= item.id %></td>
        <td>
          <%= link_to admin_item_path(item.id) do %>
            <%= item.name %>
          <% end %>
        </td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td>
          <% if item.is_active == true %>
            販売中
          <% else %>
            販売停止中
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
<div class="mx-auto" style="width: 200px;">
  <%= paginate @items %>
</div>