<h3 class="m-5">管理者ログイン</h3>
<div class="mx-auto" style="width: 800px;">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mx-auto my-5" style="width: 700px; height: 50px;">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, size:50, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field mx-auto my-5" style="width: 700px; height: 50px;">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, size:50, autocomplete: "current-password" %>
    </div>

    <!--<%# if devise_mapping.rememberable? %>-->
    <!--  <div class="field">-->
    <!--    <%#= f.check_box :remember_me %>-->
    <!--    <%#= f.label :remember_me %>-->
    <!--  </div>-->
    <!--<%# end %>-->

    <div class="actions mx-auto my-5" style="width: 700px; height: 50px;">
      <%= f.submit "ログイン", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<%= render "admin/shared/links" %>
