<%= flash[:notice] %>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <div class="my-4">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>ジャンル検索</th>
              </tr>
            </thead>
            <% @genres.each do |genre| %>
            <tbody>
              <tr>
                <!--link_toで名前の遷移先を後で設定する-->
                <td><%= genre.name %></td>
              </tr>
            </tbody>
            <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-8 offset-md-1">
      <p>ようこそ、ながのCAKEへ!<br>このサイトは、ケーキ販売のECサイトになります。<br>会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。</p>
      <h3 class="m-1">新着商品</h3>
      <div class="container">
        <div class="row">
          <% @items.each do |item| %>
            <div class="col-md-3">
              <%= link_to public_item_path(item.id) do %>
                <div class="m-3"><%= image_tag item.get_image(100,100) %></div>
                <div class="m-3"><%= item.name %></div>
                <div class="m-3">￥<%= item.price %></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="mx-auto" style="width: 200px;">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>