<h3 class="m-5"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
<div class="mx-5">
  <%= form_with model:[:admin, @customer], local:true do |f| %>
    <div class="my-4">
      <span class="mx-5">会員ID</span>
      <%= @customer.id %>
    </div>
    <div class="my-4">
      <span class="mx-5">氏名</span>
      <%= f.text_field :last_name %>
      <%= f.text_field :first_name %>
    </div>
    <div class="my-4">
      <span class="mx-5">フリガナ</span>
      <%= f.text_field :last_name_kana %>
      <%= f.text_field :first_name_kana %>
    </div>
    <div class="my-4">
      <span class="mx-5">郵便番号</span>
      <%= f.text_field :postal_code %>
    </div>
    <div class="my-4">
      <span class="mx-5">住所</span>
      <%= f.text_field :address, size:50 %>
    </div>
    <div class="my-4">
      <span class="mx-5">電話番号</span>
      <%= f.text_field :telephone_number %>
    </div>
    <div class="my-4">
      <span class="mx-5">メールアドレス</span>
      <%= f.text_field :email %>
    </div>
    <div class="my-4">
      <span class="mx-5">会員ステータス</span>
      <%= f.radio_button :is_active, :true %>有効
      <%= f.radio_button :is_active, :false %>退会
    </div>
    <div class="mx-5">
      <%= f.submit "変更を保存", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>