<h3 class="m-5">ショッピングカート</h3>
<div>
  <%= link_to "カートを空にする", public_cart_items_path, method: :delete %>
</div>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-8 ml-3">
      <table class="table table-bordered m-3">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
            <td>
              <%= form_with model:[:public,cart_item], method: :patch, local:true do |f| %>
                <%= f.select :amount, *[1..10] %>
                <%= f.submit "変更" %>
              <% end %>
            </td>
            <td><%= cart_item.subtotal.to_s(:delimited) %></td>
            <td><%= link_to "削除する", public_cart_item_path(cart_item.id), method: :delete %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="col-4 ml-3 border">
        合計金額<%= @cart_items.sum(&:subtotal) %>
      </div>
    </div>
  </div>
</div>