<h3 class="m-5">注文履歴一覧</h3>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-8 ml-3">
      <table class="table table-bordered m-3">
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <% @orders.each do |order| %>
        <tbody>
          <tr>
            <td><%= order.created_at %></td>
            <td>
              <div><%= order.postal_code %></div>
              <div><%= order.address %></div>
              <div><%= order.name %></div>
            </td>
            <td>
              <% order.order_details.each do |order_detail| %>
                <%= order_detail.item.name %>
              <% end %>
            </td>
            <td><%= order.total_payment %>円</td>
            <td><%= order.status_i18n %></td>
            <td><%= link_to "表示する", public_order_path(order.id) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>